.cbd-table-component {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    table tr th,
    table tr td {
        border-right: 1px solid #d7dde4;
        border-bottom: 1px solid #d7dde4;
        box-sizing: border-box;
        height: 31px;
    }
    table thead {
        background: #f5f7f9;
    }
    table thead tr {
        &:first-child {
            th {
                &:first-child {
                    border-radius: $radius 0 0 0;
                }
                &:last-child {
                    border-radius: 0 $radius 0 0;
                }
            }
        }
    }
    table {
        width: 100%;
        min-height: 25px;
        line-height: 25px;
        border-top: 1px solid #d7dde4;
        border-left: 1px solid #d7dde4;
        text-align: center;
        border-collapse: separate; // 如果直接设置合并边框就无法设置圆角
        border-spacing: 0;
        table-layout: fixed;
        word-break: break-all;
        border-radius: $radius $radius 0 0;
    }
}