
.cbd-tabs-pane {
    display: none
}

.cbd-tabs-pane.active {
    display: block
}

.cbd-tabs-content {
    margin-left: auto !important;
}

.cbd-tabs.cbd-tabs-left .cbd-tabs-content {
    width: 80%!important;
    margin-left: auto !important;
    float: left;
    padding-left: 20px !important;
}

.cbd-tabs.cbd-tabs-left .cbd-tabs-bar {
    max-width: 20%;
}